body {
    background: -moz-linear-gradient(45deg, transparent 0%, transparent 3%, rgba(30, 87, 153, 1) 3%, rgba(30, 87, 153, 1) 4.5%, transparent 4.5%, transparent 6%, rgba(48, 206, 0, 1) 6%, rgba(48, 206, 0, 1) 7.5%, transparent 7.5%, transparent 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, transparent 0%, transparent 3%, rgba(30, 87, 153, 1) 3.0%, rgba(30, 87, 153, 1) 4.5%, transparent 4.5%, transparent 6%, rgba(48, 206, 0, 1) 6%, rgba(48, 206, 0, 1) 7.5%, transparent 7.5%, transparent 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(-135deg, transparent 0%, transparent 3%, rgba(30, 87, 153, 1) 3%, rgba(30, 87, 153, 1) 4.5%, transparent 4.5%, transparent 6%, rgba(48, 206, 0, 1) 6%, rgba(48, 206, 0, 1) 7.5%, transparent 7.5%, transparent 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat no-repeat;
}
#float {
    min-width: 50px;
    -webkit-transition: min-width 1s;
    transition: min-width 1s;
    border-radius:50px; 
    height:50px;
}
#float span {
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}
#pen {
    margin-right: 0;
    -webkit-transition: margin-right 0.5s;
    transition: margin-right 0.5s;
}
#float:hover {
    width:auto;
}

#float:hover #pen {
    margin-right: 8px;
}
.fixed-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
}

.badge-1 {
    background-color: #4CAF50;
}

.badge-2 {
    background-color: #6FBB51;
}

.badge-3 {
    background-color: #93C853;
}

.badge-4 {
    background-color: #B7D454;
}

.badge-5 {
    background-color: #DBE156;
}

.badge-6 {
    background-color: #FFEE58;
}

.badge-7 {
    background-color: #F3C64E;
}

.badge-8 {
    background-color: #E89E44;
}

.badge-9 {
    background-color: #DC773B;
}

.badge-10 {
    background-color: #D14F31;
}

.badge-11 {
    background-color: #C62828;
}