html, body { margin: 0px; padding: 0; }

body {
  background-repeat: no-repeat no-repeat;
  background-color: rgb(4, 133, 255);
  background-position: center center;
  background-size: cover;
}

table {
  border-collapse: collapse;
  /* font-family: Georgia, Times, serif; */
}

th {
  top: 50%;
  padding:5px 0px;
  border-bottom: 5px solid rgb(0, 0, 0);
}

tr {
  border-bottom: .5px solid white;
  height: 60px;
}

td {
  padding: 10px;
  width: 150px; 
  vertical-align: top;
}

.divcalendar {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: rgba(255, 255, 255, 0);
}

/* Wrapper div. That makes the inner div into an inline element that can be centered with text-align.*/
#calendaroverallcontrols {
  text-align: center;
}

/* This is a fluid div as width will be changing */
#calendarmonthcontrols {
  display: inline;
}

#calendarmonthcontrols div, #calendarmonthcontrols > a {
  display: inline;
}    

#currentmonthdates:hover {
  background-color: rgba(58, 57, 57, 0.5);
  color: white;
}
#currentmonthdates:active {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#btnPrevYr {
  text-decoration: none;
  font-size: 35px;
  vertical-align: middle;
  /*background: #00FFCC;*/      
}

#btnPrev {
  text-decoration: none;
  font-size: 35px;
  margin-left: 20px;
  vertical-align: middle;
  /* background: #00FFCC; */
}    

#monthandyearspan {
  width: 250px;
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}    

#monthandyear {
  vertical-align: middle;
}

#btnNext {
  text-decoration: none;
  font-size: 35px;
  margin-right: 20px;
  vertical-align: middle;
  /*background: #00FFCC;*/
}

#btnNextYr {
  text-decoration: none;
  font-size: 35px;
  vertical-align: middle;
  /*background: #00FFCC;*/
}        

td a {
  text-decoration: none;
  display: block;
  color: black;
  width: 100%;
  height: 100%;
}

#divcalendartable {
  clear: both;
  /* margin-top: 18px; */
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.daysheader {
  background: rgb(6, 184, 0);
  height: auto;
  text-align: center;
}

#prevdates {
  background-color: rgba(90, 90, 90, 0.8);
  color: white;
}

.nextmonthdates {
  background-color: rgba(180, 180, 180, 0.7);
}

.currentmonthdates {
  background-color: rgba(255, 255, 255, 0.7);
}
.currentdate {
  background-color: rgba(0, 35, 151, 0.507);
  color: white;
}

#cellvaluelist {
  background: #FFCC00;
}        

.swim {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 80%;
  text-align: center;
  background: #445511;
  color: #F5F5F5;
  margin-bottom: 5px;
  padding: 5px;
}

.chrono {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 80%;
  text-align: center;
  background: #778899;
  color: #F5F5F5;
  margin-bottom: 5px;
  padding: 5px;
}