html, body { margin: 0px; padding: 0; }

body {
  background-repeat: no-repeat no-repeat;
  background-color: rgb(22, 74, 123);
  background-position: center center;
  background-size: cover;
}

table {
  border-collapse: collapse;
  /* font-family: Georgia, Times, serif; */
  height: 85%;
  margin-left: auto;
  margin-right: auto;
}

th {
  top: 50%;
  padding:5px 0px;
  border-bottom: 5px solid black;
}

tr {
  border-bottom: 1.5px solid white;
}

td {
  padding: 10px;
  width: 300px; 
  vertical-align: top;
}

.divcalendar {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  background-color: rgba(175, 199, 250, 0.692);
}

/* Wrapper div. That makes the inner div into an inline element that can be centered with text-align.*/
#calendaroverallcontrols {
  text-align: center;
}

/* This is a fluid div as width will be changing */
#calendarmonthcontrols {
  display: inline;
}

#calendarmonthcontrols div, #calendarmonthcontrols > a {
  display: inline;
}    

#currentdate:hover, #nextmonthdates:hover, #prevdates:hover, #currentmonthdates:hover {
  background-color: rgba(58, 57, 57, 0.5);
  color: white;
}
#currentdate:active, #nextmonthdates:active, #prevdates:active, #currentmonthdates:active {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#btnPrevYr {
  text-decoration: none;
  font-size: 35px;
  vertical-align: middle;
  /*background: #00FFCC;*/      
}

#btnPrev {
  text-decoration: none;
  font-size: 35px;
  margin-left: 20px;
  vertical-align: middle;
  /* background: #00FFCC; */
}    

/*.yearspan {
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.monthspan {
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}*/

#monthandyearspan {
  width: 50px;
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
  /*background: #00FFCC;*/
}    

#monthandyear {
  vertical-align: middle;
}

#btnNext {
  text-decoration: none;
  font-size: 35px;
  margin-right: 20px;
  vertical-align: middle;
  /*background: #00FFCC;*/
}

#btnNextYr {
  text-decoration: none;
  font-size: 35px;
  vertical-align: middle;
  /*background: #00FFCC;*/
}        

td a {
  text-decoration: none;
  display: block;
  color: black;
  width: 100%;
  height: 100%;
}

#divcalendartable {
  clear: both;
}

.daysheader {
  background: rgba(192, 192, 192, 0.877);
  height: auto;
  text-align: center;
}

#prevdates {
  background-color: rgba(180, 180, 180, 0.7);
}

#nextmonthdates {
  background-color: rgba(180, 180, 180, 0.7);
}

#currentmonthdates {
  background-color: rgba(255, 255, 255, 0.7);
}
#currentdate {
  background-color: rgba(2, 61, 255, 0.507);
  color: white;
}

#cellvaluelist {
  background: #FFCC00;
}        

.swim {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 80%;
  text-align: center;
  background: #445511;
  color: #F5F5F5;
  margin-bottom: 5px;
  padding: 5px;
}

.chrono {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 80%;
  text-align: center;
  background: #778899;
  color: #F5F5F5;
  margin-bottom: 5px;
  padding: 5px;
}