html,
body {
  margin: 0px;
  padding: 0;
}

body {
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}

table#cal {
  border-collapse: collapse;
  margin: 15px;
  margin-top: 0px;
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}
table {
  border-collapse: collapse;
  margin: 15px;
}

th {
  top: 50%;
  padding: 10px;
  border-bottom: 5px solid rgb(0, 0, 0);
  height: 8px;
}

tr {
  border-bottom: .5px solid white;
  height: 60px
}

td {
  padding: 10px;
  height: inherit;
  vertical-align: top;
  font-family: 'Open Sans', 'sans-serif';
}

td.bkdslts {
  padding: 10px;
  width: auto;
  vertical-align: middle;
}



#currentmonthdates:active {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#titlespan {
  width: 250px;
  font-size: 25px;
  font-weight: bold;
  margin-right: 140px;
  vertical-align: middle;
}
  
#mai{
  width: 100%;
  height: 73%;
  left: 25%;
}

.daysheader {
  background: rgba(6, 184, 0, .8);
  height: 4%;
  text-align: center;
  font-weight: lighter;
}
.daysheaderl {
  background: rgba(6, 184, 0, .8);
  height: 60px;
  text-align: center;
}

.prevdates {
  background-color: rgba(90, 90, 90, 0.8);
  color: white;
}

#currentmonthdates {
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
}

.sloid {
  padding: 10px;
  /* display: block; */
  height: 100%;
  vertical-align: bottom;
}

#currentmonthdates:hover {
  transform: scale(1.3);
  background: rgba(255, 255, 255, 0.8);
}

td a {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
  width: 100%;
}

#calendaroverallcontrols {
  width: 100%;
  padding: 5px;
  margin: 0;
  text-align: center;
}

#calendarmonthcontrols {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

#calendarmonthcontrols * {
vertical-align: middle;
/* margin: 5px; */
display: inline;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-weight: lighter;
}

a.calcon {
  text-decoration: none;
  color: none;
}

.calcon img {
  padding: 10px;
}

.right img, .left img {

  transition: all .3s ease-out;
}

.right img:hover {
  /* background: rgba(0, 23, 88, 0.384); */
  transform: translate(10px, 0px);
}
.left img:hover {
  /* background: rgba(0, 23, 88, 0.384); */
  transform: translate(-10px, 0px);
}

#monthandyear {
  width: 350px;
}
